@import url("stylesheet.css");

.mainPageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.collapse {
  display: none;
}

.productImageArray {
  width: 70px;
}

.arrayOfProduct {
  margin-top: 15px;
  width: 95%;
}

tbody tr:nth-child(odd) {
  background-color: #9760e7;
}

td {
  width: 10%;
  text-align: center;
}

.totalsRow {
  background-color: grey;
}

#orderForm {
  margin-top: 40px;
  text-align: center;
}

.formulaire {
  display: flex;
  flex-flow: column;
}

.client {
  box-sizing: border-box;
  margin: 10px;
  border: solid grey 1px;
  width: 250px;
}

.client:not(:placeholder-shown):not(:focus):invalid {
  border: #b20a37 solid 2px;
  background-color: #b20a37;
  animation: wiggle 150ms;
  animation-timing-function: linear;
  color: white;
}

.client:focus {
  border: #8f5bfe solid 2px;
}

.client::placeholder {
  color: grey;
}

.client:valid {
  border: green solid 1px;
  background-color: lightgreen;
}

#confirmOrder {
  float: right;
  margin: 25px 0;
  border-radius: 15px;
}

#confirmOrder:hover {
  transform: scale(1.05);
  transition: transform 850ms;
  transition-delay: 0s, 250ms;
  cursor: pointer;
}

@keyframes wiggle {
  0% {
    transform: translate(1px, 0);
  }
  50% {
    transform: translate(-1px, 0);
  }
  100% {
    transform: translate(1px, 0);
  }
}

@media screen and (min-width: 500px) {
  .arrayOfProduct {
    margin-top: 50px;
  }

  .collapse {
    display: table-cell;
  }
}
