@import url("stylesheet.css");

.flex {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

#buttonAddToCart {
  border-radius: 15px;
  width: 125px;
  height: 25px;
}

.footer {
  position: absolute;
}

.boxOfSelector {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

select {
  border-radius: 15px;
  height: 25px;
  font-family: "Montserrat", Verdana, sans-serif;
}
