body {
    box-sizing: border-box;
    margin: 0;
    min-height: 100vh;
    font-family: Calibri, Verdana, sans-serif;
}

.header {
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
    padding: 50px 75px;
}

.header a:link,
.header a:visited {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

#pageContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(150px, auto);
    /* justify-items: center; */
    /* justify-content: space-around;
    padding: 50px; */
}

.product {
    display: flex;
    margin: 25px;
    max-width: 500px;
    max-height: 250px;
    background-color: cornflowerblue;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}

.product:visited,
.product:link {
    color: black;
}

.productImage {
    width: 50%;
    padding: 5px;
    border-radius: 15px;
}

.productImageArray {
    width: 20%;
    padding: 5px;
    border-radius: 15px;
}

.productInfo {
    justify-self: space-around;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
}

.productDescription {
    text-align: justify;
    padding: 5px;
}

/* .productPrice::after {
    content: " €";
} */

@media screen and (max-width: 1130px) {
    #pageContent {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    #pageContent {
        grid-template-columns: repeat(1, 1fr);
    }
}