body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", Verdana, sans-serif;
  background-color: #f3e9f1;
  color: #261624;
  min-height: 100vh;
  position: relative;
  padding-bottom: 30px;
}

.logo {
  width: 150px;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
  align-items: center;
  font-weight: bold;
}

.header a:link,
.header a:visited,
.footer a:link,
.footer a:visited {
  color: #261624;
  text-decoration: none;
}

.footer {
  margin-top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.messageDisplayed {
  text-align: center;
  margin-top: 40vh;
  padding-left: 20px;
  padding-right: 20px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  background: linear-gradient(
    135deg,
    rgba(230, 138, 8, 1) 0%,
    rgba(174, 108, 165, 1) 50%,
    rgba(143, 91, 254, 1) 100%
  );
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
}

.product:visited,
.product:link {
  color: black;
}

.productImage {
  max-width: 90%;
  max-height: 90%;
  margin: 5px;
  border-radius: 20px;
}

.productName,
.productPrice {
  font-weight: bold;
}

.productDescription {
  padding-left: 5px;
  padding-right: 5px;
  text-align: justify;
}

.invisible {
  display: none !important;
}

@media screen and (min-width: 500px) {
  .mainPageContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 35px;
  }

  .product {
    width: 300px;
    margin: 20px auto;
  }
}

@media screen and (max-width: 425px) {
  body {
    font-size: .9em;
  }
  
  .mainPageContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .product {
    max-width: 360px;
  }
}

@media screen and (min-width: 768px) {
  .mainPageContent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 20px;
  }

  .product {
    grid-column: span 2;
  }

  .product:nth-last-child(1):nth-child(odd) {
    grid-column: 2 / span 2;
  }
}

@media screen and (min-width: 1024px) {
    .mainPageContent,
    .header,
    .footer,
    .messageDisplayed {
        margin-left: auto;
        margin-right: auto;
        width: 1024px;
    }
}
